/**ADMIN modules/unicode/uni_vwx.css todo*/
/** V */


/** W */
.watch-uc::before{
	position: absolute;
	inset: 0;
	content:"⌚";
	font-size: 1.2em;
}

.winking-face-uc::before{
	position: relative;
	inset: 0;
	content:"\1F609";
	font-size: 1.2em;
}

/** X */
