/**ADMIN modules/unicode/uni_pqr.css todo*/
/** P */
.pencil-uc::before{
	position: absolute;
	inset: 0;
	content:"✏";
	font-size: 1.2em;
}
.pencil-lower-right-uc::before{
	position: absolute;
	inset: 0;
	content:"✎";
	font-size: 1.2em;
}
.plus-heavy-uc::before{
	position: absolute;
	inset: 0;
	content:"➕";
	font-size: 1.2em;
}
.pointing-right-uc::before{
	position: absolute;
	inset: 0;
	content:"☞";
	font-size: 1.2em;
}
.pointing-right-solid-uc::before{
	position: absolute;
	inset: 0;
	content:"☛";
	font-size: 1.2em;
}
.pointing-left-uc::before{
	position: absolute;
	inset: 0;
	content:"☜";
	font-size: 1.2em;
}

.pointing-left-solid-uc::before{
	position: absolute;
	inset: 0;
	content:"☚";
	font-size: 1.2em;
}


/** Q */
.quarter-one-uc::before{
	position: absolute;
	inset: 0;
	content:"¼";
	font-size: 1.2em;
}
.quarter-two-uc::before{
	position: absolute;
	inset: 0;
	content:"½";
	font-size: 1.2em;
}
.quarter-three-uc::before{
	position: absolute;
	inset: 0;
	content:"¾";
	font-size: 1.2em;
}
.question-mark-inverted-uc::before{
	position: absolute;
	inset: 0;
	content:"¿";
	font-size: 1.2rem;
}
.quoted-double-uc::before{
	content:"“";
	font-size: 1.2rem;
	padding-right: 0.01rem;
	padding-left: 0.025rem;
}
.quoted-double-uc::after{
	content:"”";
	height: 1.2rem;
	padding-left: 0.1rem;
}
.quoted-double-low-uc::before{
	content:"“";
	font-size: 1.2rem;
	padding-right: 0.01rem;
	padding-left: 0.025rem;
}
.quoted-double-low-uc::after{
	content:"„";
	height: 1.2rem;
	padding-left: 0.1rem;
}
.quoted-single-uc::before{
	content:"‘";
	font-size: 1.2em;
	padding-right: 0.01em;
}
.quoted-single-uc::after{
	content:"’";
	font-size: 1.2em;
	padding-left: 0.1em;
}
.quoted-single-low-uc::before{
	content:"‘";
	font-size: 1.2em;
	padding-right: 0.01em;
}
.quoted-single-low-uc::after{
	content:"‚";
	font-size: 1.2em;
	padding-left: 0.1em;
}
/** R */
.rectangle-uc::before{
	position: absolute;
	inset: 0;
	content:"▭";
	font-size: 1.2em;
}
.rectangle-solid-uc::before{
	position: absolute;
	inset: 0;
	content:"▬";
	font-size: 1.2em;
}

.rolling-floor-laughing-uc::before{
	position: relative;
	inset: 0;
	content:"\1F605";
	font-size: 1.2em;
}

/** 
.::before{
	position: absolute;
	inset: 0;
	content:"\";
	font-size: 1.2rem;
}
*/