/**ADMIN modules/unicode/uni_mno.css todo*/
/** M */
.melting-face-uc::before{
	position: relative;
	inset: 0;
	content:"\1FAE0";
	font-size: 1.2em;
}

.min-heavy-uc::before{
	position: absolute;
	inset: 0;
	content:"➖";
	font-size: 1.2em;
}

.multiplication-uc::before{
	position: absolute;
	inset: 0;
	content:"×";
	font-size: 1.2em;
}
.multiplication-heavy-uc::before{
	position: absolute;
	inset: 0;
	content:"✖";
	font-size: 1.2em;
}
/** N */
.number-dot-uc::before{
	position: absolute;
	inset: 0;
	content: "1.";
	font-size: 1.2em;
}
.number-colon-uc::before{
	position: absolute;
	inset: 0;
	content: "1:";
	font-size: 1.2em;
}
.number-right-parenthesis-uc::before{
	position: absolute;
	inset: 0;
	content: "1)";
	font-size: 1.2em;
}
.number-hyphen-minus-uc::before{
	position: absolute;
	inset: 0;
	content: "1-";
	font-size: 1.2em;
}
/** O */